#
# Please avoid changing the Qualcomm defconfig files and use this file to
# add any Motorola-specific configuration changes that are applicable to
# userdebug, eng, and user builds.
#
# After building, a list of all of the config files that are used can be found
# at the top of:
# out/target/product/$(PRODUCT)/obj/KERNEL_OBJ/mapphone_defconfig
#
# The actual output of the kernel configuration system can be found at:
# out/target/product/$(PRODUCT)/obj/KERNEL_OBJ/.config
#
# You can check the .config file to verify that your configuration option is
# being set as expected.
#


#Lenovo-sw yexh1, add for dynamic debug log control
CONFIG_DYNAMIC_DEBUG=y
#Lenovo-sw yexh1, end
CONFIG_MMC_FFU=y
#Begin, Lenovo, zhucc2 2016-09-29, ARIESM-20
CONFIG_EXFAT_FS=y
#End, Lenovo, zhucc2 2016-09-29, ARIESM-20
