#
# Please avoid changing the Qualcomm defconfig files and use this file to
# add any Motorola-specific configuration changes that are applicable to
# userdebug, eng, and user builds.
#
# After building, a list of all of the config files that are used can be found
# at the top of:
# out/target/product/$(PRODUCT)/obj/KERNEL_OBJ/mapphone_defconfig
#
# The actual output of the kernel configuration system can be found at:
# out/target/product/$(PRODUCT)/obj/KERNEL_OBJ/.config
#
# You can check the .config file to verify that your configuration option is
# being set as expected.
#


CONFIG_SENSORS_SSC=n
CONFIG_BCM2079X=y
CONFIG_MMI_UNIT_INFO=y
CONFIG_MOT_UTAG=y
# lenovo-sw zhouwl,20141119,add begin
CONFIG_NXP_TFA9887=y
# lenovo-sw zhouwl,20141119,add end
#Begin, Lenovo, zhucc2 2016-03-18, ARIESM-20
CONFIG_EXFAT_FS=y
#End, Lenovo, zhucc2 2016-03-18, ARIESM-20
CONFIG_MMI_RAM_INFO=y
#lenovo-sw, chenzz3, enable fingerprint, begin
CONFIG_SYNAPTICS_FINGERPRINT=y
#lenovo-sw, chenzz3, enable fingerprint, end
#lenovo-sw, chenyb1, suspend syssync control, begin
# CONFIG_PM_SYNC_BEFORE_SUSPEND is not set
#lenovo-sw, chenyb1, suspend syssync control, end
#lenovo-sw, wengjun1, touchpanel config, begin
# CONFIG_TOUCHSCREEN_SYNAPTICS_DSX_CORE_v26 is not set
# CONFIG_TOUCHSCREEN_SYNAPTICS_DSX_RMI_DEV_v26 is not set
# CONFIG_TOUCHSCREEN_SYNAPTICS_DSX_FW_UPDATE_v26 is not set
# CONFIG_SECURE_TOUCH_SYNAPTICS_DSX_V26 is not set
CONFIG_TOUCHSCREEN_SYNAPTICS_DSX_I2C=y
CONFIG_TOUCHSCREEN_SYNAPTICS_DSX_RMI_DEV=y
CONFIG_TOUCHSCREEN_SYNAPTICS_DSX_TEST_REPORTING=y
CONFIG_TOUCHSCREEN_SYNAPTICS_DSX_FW_UPDATE_MMI=y
CONFIG_TOUCHSCREEN_PROPERTY=y
#lenovo-sw, wengjun1, touchpanel config, end
#lenovo-sw, houdz1, leds config, begin
CONFIG_LEDS_AW2015=y
# CONFIG_LEDS_QPNP is not set
#lenovo-sw, houdz1, leds config, end
CONFIG_F2FS_FS=y
CONFIG_F2FS_FS_SECURITY=y
CONFIG_F2FS_FS_XATTR=y
#+Begin: chenzc2, 2016-05-02. For camera driver dir.
CONFIG_LENOVO_DIR_CAMERA=y
# CONFIG_QUALCOMM_DIR_CAMERA is not set
# CONFIG_CAMERA_WT_FACTORY_SUPPORTED is not set
#+End. chenzc2, 2016-05-02. For camera driver dir.

#Lenovo-sw quebs2 added 20160424 begin, for unlock bl
CONFIG_LENOVO_UNLOCK_BL=y
#Lenovo-sw quebs2 added 20160424 end, for unlock bl

#Lenovo-sw weimh1 added 20160601 begin:for cts test
# CONFIG_IKCONFIG_PROC is not set
#Lenovo-sw weimh1 added 20160601 end

#Lenovo wuzb1 2016-03-22 begin, enable zram lz4
CONFIG_PGTABLE_MAPPING=y
CONFIG_ZRAM_LZ4_COMPRESS=y
CONFIG_LZ4_COMPRESS=y
CONFIG_LZ4_DECOMPRESS=y
#Lenovo wuzb1 2016-03-22 end, enable zram lz4

# lenovo-sw caoyi add for sensor 20160302 begin
CONFIG_INPUT_EPL8802=y
CONFIG_IIO=y
CONFIG_ST_LSM6DS3_IIO=y
CONFIG_ST_LSM6DS3_I2C_IIO=y
CONFIG_ST_LSM6DS3_IIO_LIMIT_FIFO=0
CONFIG_ST_LSM6DS3_IIO_MASTER_SUPPORT=y
CONFIG_ST_LSM6DS3_IIO_EXT0_AKM09916=y
# CONFIG_ST_LSM6DS3_IIO_SENSORS_WAKEUP is not set
# lenovo-sw caoyi add for sensor 20160302 end
# CONFIG_HAVE_DEBUG_KMEMLEAK is not set
# CONFIG_DEBUG_PREEMPT is not set
# CONFIG_RMNET_DATA_DEBUG_PKT is not set
# CONFIG_MMC_PERF_PROFILING is not set
# CONFIG_HAVE_DEBUG_BUGVERBOSE is not set
# CONFIG_DEBUG_BUGVERBOSE is not set
CONFIG_MMC_FFU=y
#Begin, Lenovo, zhucc2 2016-09-29, ARIESM-20
CONFIG_EXFAT_FS=y
#End, Lenovo, zhucc2 2016-09-29, ARIESM-20
