#
# Synaptics DSX touchscreen driver configuration
#
menuconfig TOUCHSCREEN_SYNAPTICS_DSX_LENOVO
	bool "Synaptics DSX touchscreen (Lenovo)"
	default y
	help
	  Say Y here if you have a Synaptics DSX touchscreen connected
	  to your system.

	  If unsure, say N.

if TOUCHSCREEN_SYNAPTICS_DSX_LENOVO

config TOUCHSCREEN_SYNAPTICS_DSX_I2C_LENOVO
	tristate "Synaptics DSX touchscreen char device (Lenovo)"
	help
	  This enables support for i2c interface for Synaptics DSX
	  touchscreens.

config TOUCHSCREEN_SYNAPTICS_DSX_RMI_DEV_LENOVO
	tristate "Synaptics DSX touchscreen char device (Lenovo)"
	help
	  This enables support for direct register access for Synaptics DSX
	  touchscreens.

config TOUCHSCREEN_SYNAPTICS_DSX_TEST_REPORTING_LENOVO
	tristate "Synaptics DSX touchscreen test reporting (Lenovo)"
	help
	  This enables support for test reporting for Synaptics DSX
	  touchscreens.

config TOUCHSCREEN_SYNAPTICS_DSX_FW_UPDATE_LENOVO
	tristate "Synaptics DSX touchscreen firmware update (Lenovo)"
	help
	  This enables support for firmware update for Synaptics DSX
	  touchscreens.

endif
